<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Social Network</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    a:link {text-decoration: none;}
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <div class="w3-bar-item">
            <form th:action="@{/users}" method="post">
                <label>
                    <input type="text" placeholder="Search for Buddies!" name="search">
                </label>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
        <a href="#" th:href="@{/register}" sec:authorize="!isAuthenticated()" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Register"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign Up </a>
        <div sec:authorize="isAuthenticated()">
        <a href="#" th:href="@{'users/' + ${loggedUser.getUsername()}}"  sec:authorize="isAuthenticated()" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <span sec:authentication="name"/>
            <img th:src="${loggedUser.getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,'+${loggedUser.printProfilePicture()}" src="../static/nin.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
        </a>
        </div>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large" >My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">

        </div>

        <!-- Middle Column -->
        <div class="w3-col m7">

            <div sec:authorize="isAuthenticated()" class="container py-5" th:if="!${allPosts.isEmpty()}">
                <div class="w3-container w3-card w3-white w3-round w3-margin" th:each="post : ${allPosts}"><br>
                    <img th:src="${post.getUser().getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,'+${post.getUser().printProfilePicture()}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                                        <span class="w3-right w3-opacity" th:text="${post.getMinutesSincePosted()}"  >1 min</span>
                    <h4 th:text="${post.getUser().getFirstName() + ' ' + (post.getUser().getLastName())}">John Doe</h4><br>
                    <hr class="w3-clear">
                    <p th:text="${post.getText()}"></p>
                    <img th:if="${post.hasPicture()}" th:src="@{'data:image/png;base64,'+${post.printPostPicture()}}" style="width:50%" class="w3-margin-bottom">
                    <form th:action="@{'/comment/' +${post.getPostID()}}" th:object="${newComment}" method="post">
                        <p><input class="w3-border w3-padding" type="text" value="Comment here..." th:field="*{text}"/></p>
                        <a th:href="@{'/users/'+ ${post.getPostID()}+'/likeFeedPost/'+ ${post.getUser().getUsername()}}"><button type="button" id="likeButton" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> Like <span class="w3-badge w3-right w3-small w3-green" th:text="${post.getLikes().size()}">33</span></button></a>
                        <button type="submit" id="submitCommentBtn" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment<span class="w3-badge w3-right w3-small w3-green" th:text="${post.getComments().size()}">33</span></button>

                    </form>

                    <div th:if="!${post.getComments().isEmpty()}">
                        <div class="w3-container w3-card w3-white w3-round w3-margin" th:each="comment : ${post.getComments()}"><br>
                            <img th:src="${comment.getUser().getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,'+${comment.getUser().printProfilePicture()}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                            <span class="w3-right w3-opacity" th:text="${comment.getMinutesSincePosted()}">1 min</span>
                            <h4 th:text="${comment.getUser().getFirstName() + ' ' + (comment.getUser().getLastName())}">John Doe</h4><br>
                            <p th:text="${comment.getText()}">This is a comment</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Middle Column -->
        </div>

    </div>
</div>
</body>
</html>